<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.css">
    <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="media/favourite shows-logos.jpeg" type="image/x-icon">
    <link rel="shortcut icon" href="media/favourite shows-logos.jpeg" type="image/x-icon">
</head>
<body style="background-image: url(media/il_fullxfull.4425593935_j2d4.avif);">
    <div class="container">
        <div class="navbar navbar-expand-lg">
            <img src="/media/favourite shows-logos.jpeg" alt="No Image" width="100px" height="100px" class="pt-0">
            <ul class="navbar nav">
                <li class="nav-item nav-link text-danger" style="font-weight: bold;"><a href="{% url 'user_profile' %}">Go to Home page..</a></li>
            </ul>
        </div>
    <div class="container">
        <div class="row">
                <h4>Edit Your Profile</h4>
            <div class="col-12">
                <form action="{% url 'edit_profileaction' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <table>                   
                    {% for i in key %}
                    <tr>
                        <th>Name</th>
                        <td><input type="text" name="name" value="{{i.name}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        
                        <td>{% if i.gender == 'male' %}
                            <input type="radio" name="gender" value="male" checked="True" class="form-check-input">Male
                            <input type="radio" name="gender" value="female" class="form-check-input">Female
                            <input type="radio" name="gender" value="other" class="form-check-input">Other
                            {% elif i.gender == 'female' %}
                            <input type="radio" name="gender" value="male" class="form-check-input">Male
                            <input type="radio" name="gender" value="female" checked="True" class="form-check-input">Female
                            <input type="radio" name="gender" value="other" class="form-check-input">Other
                            {% else %}
                            <input type="radio" name="gender" value="male" class="form-check-input">Male
                            <input type="radio" name="gender" value="female" class="form-check-input">Female
                            <input type="radio" name="gender" value="other" checked="True" class="form-check-input">Other
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Birthday</th>
                        <td><input type="date" name="dob" value="{{i.dob}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><input type="text" name="mail" value="{{i.email}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td><input type="text" name="mobile" value="{{i.mobile}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Profile Picture</th>
                        <td><input type="file" name="picture" value="{{i.picture.url}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>User Name</th>
                        <td><input type="text" name="user_name" value="{{i.user_name}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input type="text" name="password" value="{{i.password}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><input type="submit" value="Update Details" class="btn btn-success"></td>
                    </tr>
                    {% endfor %} 
                </table>
            </form>
            </div>

        </div>

    </div>
    {% if messages %}
{% for msg in messages %}
<script>
    alert("{{msg}}")
</script>
{% endfor %}
{% endif %}
</body>

</html>